{
  "presets": [
    ["vue-app", {
      "useBuiltIns": true
    }],
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./client"],
      "cwd": "./client",
      "extensions": [".js", "vue"]
    }]
  ]
}
