{
  "presets": [
    ["vue-app", {
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./client"],
      "alias": {
        "root": "./client",
        "components": "./client/components"
      }
    }]
  ]
}
