{
  "presets": [
    ["vue-app", {
      "useBuiltIns": true
    }],
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./client"],
      "alias": {
        "client": "./client"
      }
    }]
  ]
}
