{
  "extends": ["plugin:jest/recommended"],
  "rules": {
    "jest/consistent-test-it": ["error", {"fn": "test"}],
    "jest/lowercase-name": ["error", {"ignore": ["describe"]}],
    "jest/valid-describe": "error"
  }
}
